<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">-->

   </head>
 <style>
      h1{color:teal}
      th{
        color: black;
        background-color:lightgray;
      }
      td
      {
        text-align: center;
      }
      td.oya{color:White;}

 </style>
<script>
    function changeColorFlg(item, st ) {
      var color='white';
      if(st!=1)
       color='Red'
      document.getElementById(item).style.backgroundColor = color;
    }
    function changeColorErrCd(item, st ) {
      var color='white';
      if(st !=1)
       color='Red'
    document.getElementById(item).style.backgroundColor = color;
    }
     function add(v)
    {
      let result;
      result=v+1;
      return result;
    }
</script>

  </head>
    <body>
  
    <h1><%= title %></h1>
    <p><a href='/'>menu</a> 

    <!--<a href='/data/detail?no=<%=no-2%>'><<<%=no-1%></a>-->

    <br></p>
    <p>データNo <%= no %></p>
    <p>日付 <%= data_con['dateStr'] %></p>

  <h3>親機</h3>
  <table  border="1" style="border-collapse: collapse">
    <thead>
      <tr>
        <th>親機番号</th>
        <th>親機電源異常</th>
        <th>親機通信エラーコード</th>
      </tr>
    </thead>
    <tbody>
     <tr>
      <td><font color='Black'><%= data_con['cnum']  %></font></td>
      <td bgcolor=<%= data_con['oyaBat']['bkColor']     %>><font color=<%= data_con['oyaBat']['fColor']     %> ><%= data_con['oyaBat']['txt'] %></font></td>
      <td bgcolor=<%= data_con['oyaErrCode']['bkColor'] %>><font color="White"><%= data_con['oyaErrCode']['str'] %></font></td>
    </tr>
    </tbody>
    </table>
    
<h3>子機</h3>
  <table  border="1" style="border-collapse: collapse">
    <thead>
      <tr>
        <th>子機id</th>
        <th>通信エラーコード</th>
        <th>RSSI</th>
        <th>エラーコード</th>
        <th>停電</th>
        <th>圧力値</th>
        <th>電源異常</th>
      </tr>
    <tbody>
      <% for(var i=0;i<data_con.kokiNum;i++) { %>  
      <tr>
    </thead>
        <td><%= i %></td>
        <td bgcolor=<%=data_con['koki'][i]['commErrCode']['bkColor'] %>><font color="White"><%= data_con['koki'][i]['commErrCode']['str'] %></font></td>
        <td bgcolor=<%=data_con['koki'][i]['rssi']['bkColor'] %>><font color="black"><%= data_con['koki'][i]['rssi']['str'] %></font></td>
        <td bgcolor=<%=data_con['koki'][i]['k0_errCode']['bkColor'] %>><font color="White"><%= data_con['koki'][i]['k0_errCode']['str'] %></font></td>
        <td bgcolor=<%=data_con['koki'][i]['k0_teiden']['bkColor'] %>><font color="White"><%= data_con['koki'][i]['k0_teiden']['txt'] %></font></td>
        <td bgcolor=<%=data_con['koki'][i]['k0_press']['bkColor'] %>><font color="White"><%= data_con['koki'][i]['k0_press']['txt'] %></font></td>
        <td bgcolor=<%=data_con['koki'][i]['k0_bat']['bkColor'] %>><font color="White"><%= data_con['koki'][i]['k0_bat']['txt'] %></font></td>
      </tr>
      <% } %>
    </tbody>
  </table>
  
  <h3>子機ポンプ</h3>
  <table border="1" style="border-collapse: collapse">
    <thead>
      <tr>
        <th></th>
        <% for(var i=0;i<data_con.kokiNum;i++) { %> 
          <th colspan="2">子機id.<%= i %></th>
      <% } %>
      </tr>
      <tr>
        <th>No.</th>
        <% for(var i=0;i<data_con.kokiNum;i++) { %> 
          <th>　ch1　</th>
          <th>　ch2　</th>
      <% } %>
      </tr>      
    </thead>
    <tbody>
    <% for(var j=0;j<18;j++) { %>   
    <tr>
        <td><%= j+1 %></td>
        <% for(var i=0;i<data_con.kokiNum;i++) { %> 
          <td bgcolor=<%=data_con['koki'][i]['pompCH'][0]['pompDt'][j]['bkColor']  %>>
            <font color=<%=data_con['koki'][i]['pompCH'][0]['pompDt'][j]['fColor']  %>>
            <%=data_con['koki'][i]['pompCH'][0]['pompDt'][j]['dt']  %></font></td>
            
           <td bgcolor=<%=data_con['koki'][i]['pompCH'][1]['pompDt'][j]['bkColor']  %>>
            <font color=<%=data_con['koki'][i]['pompCH'][1]['pompDt'][j]['fColor']  %>>
            <%=data_con['koki'][i]['pompCH'][1]['pompDt'][j]['dt']  %></font></td>
            
        <% } %>
    </tr>  
    <% } %>
    </tbody>
  </table>
       
 
 

  </body>
</html>
