<!DOCTYPE html>
<html>
  <head>
    <title>'data/index'</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>data/index</h1>
    <p>date <%= dateStr %></p>
    <p>oya <%= oya %></p>
    
    <h2>id0</h2>
    <p>k0 <%= koki[0]['k0'] %></p>
    <p>k0p1 <%= koki[0]['k0p1'] %></p>
    <p>k0p2 <%= koki[0]['k0p2'] %></p>
    
    <h2>id1</h2>
    <p>k1 <%= koki[0]['k1'] %></p>
    <p>k1p1 <%= koki[1]['k0p1'] %></p>
    <p>k1p2 <%= koki[1]['k0p2'] %></p>
   
  </body>
</html>
