<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>oya <%= oya %></p>
    
    <h2>id0</h2>
    <p>k0 <%= k0 %></p>
    <p>k0p1 <%= k0p1 %></p>
    <p>k0p2 <%= k0p2 %></p>
    
    <h2>id1</h2>
    <p>k1 <%= k1 %></p>
    <p>k1p1 <%= k1p1 %></p>
    <p>k1p2 <%= k1p2 %></p>
   
  </body>
</html>
