<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>端末 <%= tanmatu %></p>
    <p>親機異常 <%= oyakiijyo %></p>
    <p>親機err <%= oyakierr %></p>
    <p>圧力データ <%= pressData %></p>
    <p>子機異常 <%= kokiijyo %></p>
    <p>子機err <%= kokierr %></p>     
    <p>ポンプ1 <%= pomp1 %></p>   
    <p>ポンプ2 <%= pomp2 %></p>   
  </body>
</html>
