<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>oya <%= oya %></p>
    <p>k0 <%= k0 %></p>
    <p>k0p1 <%= k0p1 %></p>
    <p>k0p2 <%= k0p2 %></p>
  </body>
</html>
