<!DOCTYPE html>
<html>
  <head>
    <title>data/index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>data/index</h1>
    <p><a href='/'>menu</a><br></p>
    <p>date <%= dateStr %></p>
    <p>oya <%= oya %></p>
    
    <% for(var key in koki) { %>
      <h3>id[<%=key%>]</h2>
      <P>k0[<%=key%>]  <%= koki[key]['k0']%></P>
      <P>k0p1[<%=key%>]  <%= koki[key]['k0p1']%></P>
      <P>k0p2[<%=key%>]  <%= koki[key]['k0p2']%></P>
    <% } %>
   
  </body>
</html>
