<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <h1><%= title %></h1>
     <p><a href='/'>menu</a><br></p>
     
     <table class="table">
      <% for(var key in content_dt) { %>
      <tr>
        <th><a href='/data/detail?no=<%= key %>'>詳細</a></th>
        <th><%= key %></th>
        <td><%=content_dt[key] %></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
